.DateRangePicker_picker__portal {
  z-index: 10000;
}

.DayPicker_portal__vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.DayPickerNavigation__verticalDefault {
  position: fixed;
}
